.signInPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--form-bg);
  font-family: Roboto, Arial;
}

.signInContainer {
  display: flex;
  background: var(--form-dialog-bg);
  border-radius: 10px;
  overflow: hidden;
  height: 85vh;
  width: 1000px;
  max-width: 95%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.signInLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.signInLeft img {
  width: 100%;
  max-width: 450px;
}

.signInRight {
  flex: 1;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signInRight div {
  display: flex;
  justify-content: center;
}

.signInRight h2 {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  color: var(--form-header);
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup input {
  width: 100%;
  padding: 14px 18px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
}

.signInRight button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background: var(--submit-btn);
  color: var(--submit-text);
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signInRight button:hover {
  background: var(--submit-hover);
}

.forgotLink {
  font-size: 14px;
  color: var(--link-color);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.signUpLink {
  margin-top: 40px;
  color: var(--link-color);
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.forgotLink:hover,
.signUpLink:hover {
  text-decoration: underline;
}

.loginOptions {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

.rememberSection label {
  color: var(--link-color);
  font-size: 14px;
  text-decoration: none;
}
