


.notification, .feedback {
    padding: 1rem;
}

.notification header, .feedback header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification td:not(td:nth-child(3)) {
    text-align: center;
}

.notification th:last-child,
.notification td:last-child,
.feedback th:last-child,
.feedback td:last-child{
    white-space: nowrap;
    width: 1%;
}

.buttonContainer {
    display: flex;
    gap: 1ch;
    align-items: center;
}

.pagination {
    justify-self: center;
}

.modal {
    background-color: var(--bg-primary);
    border-radius: 10px;
    padding: 1rem;
    min-width: max(400px, 35vw);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.modal h2 {
    text-align: center;
    margin: 0;
}

.modal input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.modal input, .modal textarea {
    outline: none;
    border: #edf2f7 solid 1px;
    border-radius: 5px;
    padding: 0.5rem 1ch;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.modal input::placeholder, .modal textarea::placeholder {
    color: var(--text-muted);
}

.modal textarea {
    height: 3rem;
}

.modal *:not(button) {
    grid-column: span 2 / span 2;
}