.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section {
  flex: 1;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: 0 4px 6px var(--border-strong);
  font-size: 1.5rem;
}

.header button {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--bg-inverse-primary);
  color: var(--bg-inverse-primary);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.25s;
}

.header button:hover {
  box-shadow: 0 0 3px var(--bg-inverse-primary),
    inset 0 0 3px var(--bg-inverse-primary);
}