.signUpPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  font-family: Roboto, Arial;
}

.signUpContainer {
  display: flex;
  background: rgb(227, 227, 227);
  border-radius: 10px;
  overflow: hidden;
  width: 1000px;
  height: 85vh;
  max-width: 95%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.signUpLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(227, 227, 227);
  padding-left: 20px;
}

.signUpLeft img {
  width: 100%;
  max-width: 450px;
}

.signUpRight {
  flex: 1;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signUpRight div {
  display: flex;
  justify-content: center;
}

.signUpRight h2 {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  color: rgb(35, 35, 35);
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup input {
  width: 100%;
  padding: 14px 18px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
}

.signUpRight button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background: rgb(1, 112, 198);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signUpRight button:hover {
  background: #5643a0;
}

.signInLink {
  margin-top: 20px;
  color: rgb(97, 97, 97);
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.signInLink:hover {
  text-decoration: underline;
}

