.featureCard, .contactCard {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    text-align: center;
    transition: all 0.25s;
}

.featureCard:hover, .contactCard:hover {
    transform: scale(1.1);
}

.featureCard {
    flex-direction: column;
    width: 200px;
    height: 300px;
}

.contactCard {
    width: 300px;
    height: 150px;
}

.featureCard div:first-child, .contactCard div:first-child {
    font-size: 5rem;
    height: 5rem;
    aspect-ratio: 1 / 1;
    margin-bottom: 1rem;
}

.cardContainer {
    display: flex;
    gap: 2ch;
}

.width1020px {
    width: 90%;
    max-width: 1020px;
}

.header {
    width: 100vw;
    background: linear-gradient(to bottom, red 0 70%, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    color: white;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.header ul {
    padding: 0;
    display: flex;
    gap: 2rem;
}

.header li {
    list-style-type: none;
}

.header a {
    color: white;
    text-decoration: none;
}

.header img {
    height: 5rem;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* .main section {
    border: 5px solid blue;
} */

.overview {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overview img {
    height: 6rem;
}

.overview p {
    width: 60%;
}

.overview button {
    width: auto;
    padding: 1rem 3rem;
    background-color: white;
    transition: all 0.15s;
    border-radius: 25px;
    color: red;
    position: relative;
    border: 2px solid red;
    cursor: pointer;
}

.overview button:hover {
    color: white;
    background-color: red;
    box-shadow: 0 4px 15px red;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    text-align: center;
    font-size: 0.85rem;
    color: grey;
    margin-top: 2rem;
}