.notification {
    padding: 1rem;
}

.notification table {
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    overflow: hidden;
}

.notification thead {
    background-color: var(--bg-inverse-primary);
    color: var(--text-inverse-primary);
}

.notification header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification td {
    border: 1px solid var(--bg-secondary);
}

.notification td:not(td:nth-child(3)) {
    text-align: center;
}

.notification tbody tr:nth-child(even) {
    background-color: var(--bg-secondary);
}

.notification th, .notification td {
    padding: 0.5rem 1ch;
}

.notification th:first-child,
.notification th:last-child,
.notification td:first-child,
.notification td:last-child {
    white-space: nowrap;
    width: 1%;
}

.btnContainer {
    display: flex;
    gap: 1ch;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay > *:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-primary);
    padding: 0 1rem 1rem;
    border-radius: 10px;
    width: clamp(250px, 50%, 500px);
}

.overlay h2 {
    text-align: center;
}

.input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.input input, .input textarea {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1ch;
    width: 80%;
}

.input textarea {
    height: 3rem;
}

.input span {
    white-space: nowrap;
}

.overlay .btnContainer {
    justify-self: center;
}