html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: var(--body-bg);
  color: var(--text-primary);
}

:root {
  --body-bg: white;

  --primary-color: red;
  --secondary-color: darkblue;

  --text-primary: black;
  --text-muted: grey;

  /* HOME */
  --header-bg: red;
  --header-text: white;

  --loginBtn-bg: red;
  --features-header: #1c3967;

  --featureCard-bg: linear-gradient(
    to bottom,
    darkblue 0 65%,
    hsl(240, 100%, 37%)
  );

  /* SIGNIN */
  --form-bg: lightgray;
  --form-dialog-bg: rgb(227, 227, 227);

  --form-header: rgb(35, 35, 35);
  --submit-btn: rgb(1, 112, 198);
  --submit-hover: #5643a0;
  --submit-text: white;
  --link-color: rgb(97, 97, 97);

  --themeToggle: rgb(59, 130, 216);
}

[data-theme='dark'] {
  --body-bg: #132440;
  --primary-color: #bf092f;
  --secondary-color: darkblue;

  --text-primary: white;
  --text-muted: #9ca3af;

  /* HOME */
  --header-bg: #bf092f;
  --header-text: white;

  --loginBtn-bg: skyblue;
  --features-header: white;

  --featureCard-bg: linear-gradient(
    to bottom,
    darkblue 0 65%,
    hsl(240, 100%, 37%)
  );

  /* SIGNIN */
  --form-bg: #132440;
  --form-dialog-bg: #16476a;

  --form-header: white;
  --submit-btn: #bf092f;
  --submit-hover: #cf4c68ff;
  --submit-text: white;
  --link-color: #9ca3af;

  --themeToggle: #132440;
}
