.topup {
  padding: 1rem;
}

.topup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.topup td:not(td:nth-child(3)) {
  text-align: center;
}

.topup th:last-child,
.topup td:last-child {
  white-space: nowrap;
  width: 1%;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.pagination {
  margin-top: 0.5rem;
  justify-items: center;
}

.topup input {
  padding: 0.5rem 1ch;
  border: 1px solid #edf2f7;
  outline: none;
  border-radius: 5px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.notification input::placeholder {
  color: var(--text-muted);
}

.topup td:has(.buttonContainer) {
  width: 1%;
}


/* Tạo yêu cầu nạp tiền */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-primary);
  padding: 0 1rem 1rem;
  border-radius: 10px;
  width: clamp(250px, 50%, 500px);
}

.modal h2 {
  text-align: center;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.input input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1ch;
  width: 80%;
}

.input span {
  white-space: nowrap;
}

.modal .buttonContainer {
  justify-self: center;
}

/* QR chuyển tiền */
.qrWrap {
  margin: 20px auto;
  text-align: center;
}

.qrImage {
  width: 220px;
  height: auto;
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 8px;
  background: white;
}

/* Trạng thái */
.status {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
}

.status.Pending {
  color: var(--pending);
  border: 1px solid;
}

.status.Completed {
  color: var(--success);
  border: 1px solid;
}

.status.Failed {
  color: var(--failed);
  border: 1px solid;
}