.themeToggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 50;
  width: 50px;
  height: 24px;
  background-color: var(--themeToggle);
  border-radius: 12px;
  cursor: pointer;
}

.themeSlider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.themeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Icon bên trong */
.themeIcon .icon {
  fill: var(--themeToggle);
}

/* Khi theme là dark, di chuyển slider sang phải */
html[data-theme='dark'] .themeSlider {
  left: calc(100% - 22px);
}

.themeTransitions * {
  transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease,
    left 0.3s ease;
}
